.form-label{
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 500;
}

::placeholder{
   font-size: 13px;
}

.addform select,
.addform option {
  font-size: 13px !important;
}

.addform .form-control{
  padding: 0.3rem 1rem;
}

.addform .form-select {
  padding: 0.4rem 1rem;
}

.form-select:focus {
    border-color: #b1a5ff;
    outline: 0;
    box-shadow: 0 0 0 0.10rem rgba(98, 75, 255, 0.25);
}

.form-control:focus {
    border-color: #b1a5ff;
    outline: 0;
    box-shadow: 0 0 0 0.10rem rgba(98, 75, 255, 0.25);
}